@font-size-normal: 16px;
@font-size-small: 12px;
@font-color: #383838;

*, *:before, *:after {
  box-sizing: border-box;
}

.outline {
  outline: 1px solid #f00;
}

.border(@color: #f00) {
  border: 1px solid @color;
}

.column() {
  display: inline-block;
  vertical-align: top;
}

.hide {
  display: none;
}

.show(@display: block) {
  display: @display;
}

.small-caps {
  font-size: @font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

html {
  font-size: 14px;
}

body {
  color: @font-color;
}

#content {
  margin-top: 80px;
  margin-left: 80px;
}

// .grid {
//   @width: 40px;
//   @height: 24px;
//   tr:nth-child(odd) {
//     background: #fff1f1;
//   }
//   td {
//     width: @width;
//     height: @height;
//     max-width: @width;
//     max-height: @height;
//     .border(#ff9a9a);
//     text-align: center;
//     cursor: pointer;
//   }
//   .loop {
//     position: relative;
//     width: 100%;
//     height: 100%;
//     background: pink;
//   }
//   .blips {
//     position: absolute;
//     white-space: nowrap;
//     font-size: 0;
//   }
//   .blip {
//     display: inline-block;
//     width: @width;
//     height: @height;
//     font-size: 1rem;
//   }
// }
