@font-size-normal: 16px;
@font-size-small: 12px;
@font-color: #383838;

.outline {
  outline: 1px solid #f00;
}

.border(@color: #f00) {
  border: 1px solid @color;
}

.column() {
  display: inline-block;
  vertical-align: top;
}

.hide {
  display: none;
}

.small-caps {
  font-size: @font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

body {
  color: @font-color;
}

#content {}

.grid {
  td {
    width: 40px;
    height: 40px;
    .border(#ff9a9a);
    text-align: center;
  }
}

.gridster li {
  list-item-type: none;
  .border;
}