<!DOCTYPE html>

<html>

<head>
  <title>My App</title>
  <link rel="stylesheet" type="text/css" href="/static/lib/normalize-css/normalize.css" />
  <!-- <link rel="stylesheet/less" type="text/css" href="/static/less/style.less" /> -->
  <!-- <script src="/static/lib/less/dist/less.js"></script> -->
  <script src="/static/lib/react/react.js"></script>
  <script src="/static/lib/react/react-dom.js"></script>
</head>

<body>

  <div id="content"></div>

  {% include "templates.html" %}

  <!-- Libraries -->
  <script type="text/javascript" src="/static/lib/jquery/dist/jquery.js"></script>
  <script src="/static/lib/lodash/lodash.js"></script>
  <script src="/static/lib/marked/marked.min.js"></script>

  <!-- App scripts -->
  <script src="/static/build/test.js"></script>

</body>

</html>
