<!DOCTYPE html>

<html>

<head>
  <title>Loopdaloop</title>
  <link rel="stylesheet" type="text/css" href="/static/lib/normalize-css/normalize.css" />
  <link rel="stylesheet/less" type="text/css" href="/static/build/style.css" />
</head>

<body>

  <div id="content"></div>

  {% include "templates.html" %}

  <!-- Libraries -->
  <script type="text/javascript" src="/static/lib/jquery/dist/jquery.js"></script>
  <script src="/static/lib/lodash/lodash.js"></script>

  <!-- App scripts -->
  <script src="/static/build/app.js"></script>

</body>

</html>
