<!DOCTYPE html>

<html>

<head>
  <title>My App</title>
  <link rel="stylesheet" type="text/css" href="/static/bower_components/normalize-css/normalize.css" />
  <link rel="stylesheet/less" type="text/css" href="/static/less/style.less" />
  <script src="/static/bower_components/less/dist/less.js"></script>
</head>

<body>

  <div class="app-body">

  </div>

  {% include "templates.html" %}

  <!-- Libraries -->
  <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/static/bower_components/underscore/underscore-min.js"></script>
  <script src="/static/bower_components/handlebars/handlebars.min.js"></script>
  <!-- <script src="/static/bower_components/moment/min/moment.min.js"></script> -->

  <!-- App scripts -->
  <script src="/static/js/app.js"></script>

</body>

</html>
