{% raw %}

<script type="text/x-handlebars-template" id="sequencer-template">
  <a class="pause hide" href="">Pause</a>
  <a class="play" href="">Play</a>
  <div class="channels">
    {{#each channels}}
      {{render this}}
    {{/each}}
    <div class="add-channel">
      <div>
        <h4>Add a channel</h4>
        <div>
          {{#each sampleNames}}
            <a class="sample-option" data-sample="{{this}}" href="">{{this}}</a>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</script>

<script type="text/x-handlebars-template" id="channel-template">
  <div class="channel-title">{{sampleName}}</div>
  <div class="cells">
    {{#each cells}}
      {{render this}}
    {{/each}}
  </div>
</div>
</script>

<script type="text/x-handlebars-template" id="cell-template">
  {{#unless mute}}
    <div class="pitch-scale">_</div>
    <div class="pitch-label"></div>
    <div class="gain-label"></div>
  {{/unless}}
</script>

<script type="text/x-handlebars-template" id="control-panel-template">
  <a class="close" href="">Close</a>
  <div class="react-button-group"></div>
</script>

{% endraw %}
